body {
background-color: #000;
color:#000;
font-weight:400;
font-family: 'Roboto', sans-serif;
padding:1rem;

}



.topnav {
  overflow: visible;
  background-color: #;
  position: relative;
}


.topnav #myLinks {
  display: none;
background-color: #eee;
}

#myLinks {
background:#eee;
position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}


.image-format {
opacity:0;}


.navigationblock {
padding-top:50px;
padding-bottom:50px;}


/* Style navigation menu links */
.topnav a {
font-family: 'Roboto', sans-serif;
  color: #000;
  margin: 15px 0px;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  transition: 0.3s;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: fixed;
  z-index:3000;
    font-size: 20px;
    right: 20px;
    top: 10px;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
color: #009599;
  text-decoration:underline;

  transition: 0.3s;
}

/* Style the active link (or home/logo) */
.active {
  color: white;
}


footer {
  background:#222;
  padding-top:30px;
  padding-bottom:30px;
}

footer p {
  font-size:1.2rem;
}

footer button {
border: 1px, #fff;
padding:20px 40px 20px 40px;
background-color: transparent;
border-style: solid;
border: 1px solid #fff;
color:#fff;
font-family: 'Roboto', sans-serif;

}

button {
border: 1px, #2c2c2c;
padding:20px 40px 20px 40px;
background-color: transparent;
border-style: solid;
border-bottom: 1px solid #2c2c2c;
color:#2c2c2c;
font-family: 'Roboto', sans-serif;

}

button > a {
color:#fff;
}



.header {

width:100%;


}
.header:before {
  }
  
  
  .navblock {
  padding-top:20px;
  padding-bottom:200px;
  }
  
  .navwrapper {
  padding-top:20px;
  float:right;
  text-decoration:none;
  margin-left:20px;
  }

  .navbtn {
  font-weight:700;
text-decoration:none;
color:#111;
  padding-top:20px;
   margin-left:40px;
transition: 0.3s;
  }
  
    .navbtn:hover {
text-decoration:none;
color:#009599;
padding-bottom:2px;
  border-bottom:2px solid;
border-bottom: solid 2px #009599;
padding-bottom:5px;
transition: 0.3s;
  }
  
  

.navigation {
float:right;
font-size: 1em;
font-weight:700;
}

.navigation > li {
display:inline-block;
margin-right:20px;
margin-top:20px;
}

li > a {
color:#102027;
text-decoration:none;
}

li > a:hover {
color:#009599;
}


h1 {
color:#111;
font-size:5rem;
 font-family: "DM Serif Display", serif;
padding:;
font-weight:400;
line-height:6.5rem;

}

h2 {
color:#111;
font-size:2.7em;
 font-family: "DM Serif Display", serif;
font-weight:400;
}

h3 {
font-size:2.4em;
 font-family: "DM Serif Display", serif;
line-height:1.3em;
font-weight:400;
}

h4 {
font-size:1.3em;
 font-family: "DM Serif Display", serif;
font-weight:400;
}


h5 {
 font-family: "DM Serif Display", serif;
color:#111;
font-weight:400;
font-size:1.2em;

}

p {
font-size:1.3em;
font-family: 'Roboto', sans-serif;
font-weight:400;

line-height:1.5;

}



.figcaption {
font-weight: 600;
    font-size: 1.1em;
   


}


.will {
font-size:1em;
font-family: 'Merriweather', serif;
padding:0px;
margin:0px;

}


.sitetitle {
text-align:center;}

.primarycta {
padding-top:50px;


}

.primarycta a {
color: #009599;
    font-weight: 600;
   
}


.primarycta .col-lg-12 {
padding-left:0px;}

.scrollTo {
	font-size:;
	text-decoration:none;
	color:#222;
/*background-image:url("../img/assets/arrow.svg");*/
background-repeat: no-repeat;
 display: block;
    margin-top:50px;  
    transition: all 0.3s ease 0s;
    width: 100px;
  
	transition: all 0.3s ease 0s;
-webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.toTop {

  }
  
  .herocover {
  background:#fff;
  height:70vh;}

.herointro {
background:#EEEEEE
;
height:90vh;}

#row1 {
position:relative;
background:#fff;
}


#row2 {
background:#fff;
background-size: cover;
width:100%;
position:relative;


}



#aboutrow {
position:relative;
height: auto;
background:#fff;
}




#row3 {
background:#fff;
position:relative;
height:auto;
background-size:cover;
}

#row4 {
background-color:#f4f1ef;
background:#fff;
background-size: cover;
width:100%;
position:relative;
height: 90vh;
}



.projectpod {
border-radius:16px;
background:#eee;
padding:16px;
}


.scrolly-container {
background-color:;
width:100%;
position:absolute;
bottom:0;
padding: 20px 0px;
color:#000;
}


.big-wrapper-boi {
padding: 8rem 0 8rem 0;
}

.block-wrapper {
padding: 8rem 8rem;
margin-right: 0 1.2rem;
display:block;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }

}

.block-wrapper a {
color:#000;
font-weight:600;
border-bottom: solid 2px #111;
padding-bottom:2px;
transition: 0.3s;

}

.block-wrapper a:hover {
  background:;
  color:#009599;
  transition: 0.3s;
  text-decoration: none;
border-bottom: solid 2px #009599;
padding-bottom:5px;
}

.intro2 a {
color:#000;
font-weight:600;
border-bottom: solid 2px #111;
padding-bottom:2px;
transition: 0.3s;

}

.intro2 a:hover {
  background:;
  color:#009599;
  transition: 0.3s;
  text-decoration: none;
border-bottom: solid 2px #009599;
padding-bottom:5px;
}

.nu_btn a {
color:#000;
font-weight:600;
border-bottom: solid 2px #111;
padding-bottom:2px;
transition: 0.3s;
}

.nu_btn a:hover  {
  color:#009599;
font-weight:600;
text-decoration:none;
border-bottom: solid 2px #009599;
padding-bottom:5px;
transition: 0.3s;
}




.cta {

text-align:;}


.text-wrapper {
padding:20px 0px;
padding-right:1em;
}

.text-wrapper-about {
padding:40px 0px;

}





.inner {
display: block;
    vertical-align: middle;
}

.hero {

background-size:100%;
background-position:cover;
background-repeat:no-repeat;
background:#fff;
height:90vh;
position:relative;
}

.hero-about {
height:auto;
background:rgb(239 231 227);}


.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background:;
  padding:30px 0px;
}

.flex-item {
  margin: auto;
  width:10%;
  height:auto;
}


  
.figurep {

  font-size:1.2rem !important;
  padding:10px 0px;
}

  


    .intro2 {

  text-align:left;


font-weight:400;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }

  }


  
  .details {
  padding-top:
  20px;
  }

.img_container {
height:relative;
overflow: hidden;


  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }

}





.copy {
padding-top:50px;
    color: #222222;
}




.home-hero {
height:100%;
}

.arrow {
display:inline-block;
height:20px;
width:30px;
margin-top:200px;
}


.footy {
background-color:#fff;}



.about-outer {
background:url('../img/bg-hero-4.jpg');
background-size:cover;
background-position:center;
height:auto;
width:100%;
padding:100px;
}

.about-inner {
background:#fff;
margin:0 auto;
padding:50px;
overflow:auto;
}

.about-inner h3 {
}


/*PROJECT PAGE*/

.projecthero {
  text-align:center;
padding-top:50px;
padding-bottom:100px;}

.kycf .hero {
  background:#fff;
  height:auto;
}

.kycf h1 {
  font-size:5rem;
}


.copywrapper {

  padding-top:150px;
  padding-bottom:150px;
}

.heroimage {
width:100%; 
overflow:hidden;
}

.copywrapper img {
width:100%;
}


@media screen and (max-height: 627px) {
.img_container{display:none;}



.hero  {height:auto;}
#row1 {height:auto;}
#row2 {height:auto;}
#row3 {height:auto;}
}



@media screen and (max-width: 767px) {

.intro2 > .scrollTo {display:none;} 


.intro2 h1 {
font-size:4rem;
line-height:5rem;
}

.hero {
height:auto;}

#row1 {
height: auto !important;
}

.block_bg {
display:none;
}

#row2 {
height: auto;}

#row3 {
height: auto !important;
}

.block_bg2 {
display:none;
}

.img_container {height:100% !important;}

.introtext {padding-left:10px;
font-size:2.2rem;
}

.block-wrapper {
padding:4rem;
}

h2 {
    font-size: 2.4em;}

}



.figcaption {
line-height:normal;
}


@media (max-width: 991.98px) { 



@media (max-width: 1199.98px) { ... }
 
 
@media (min-width: @screen-md-min) { 


 }

 
/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
  }


    .intro {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }

